.page {
  margin: 0 auto;
  font-family: "inner", sans-serif;
  max-width: 1440px;
}

.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  align-items: center;
  gap: 8px;
  height: 74px;
}

.header-logo-content {
  position: relative;
  display: flex;
  align-items: center;
  padding-top: 6px;
  gap: 18px;
  color: #161616;
  margin: 20px 0 23px;
}

.logo-text {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.65px;
}

.logo-img {
  position: absolute;
  top: -8px;
  left: 0;
}

.logo-title {
  padding-left: 10px;
  text-transform: uppercase;
}

.header-content {
  display: flex;
  gap: 11px;
}

.header-profile {
  padding: 17px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.button-style {
  display: flex;
  gap: 10px;
  border: none;
  outline: 1px solid rgba(32,99,205,0.7);
  border-radius: 8px;
  background-color: transparent;
  cursor: pointer;
}

.menu-btn {
  padding: 17px;
}

.header-menu-list {
  position: absolute;
  display: flex;
  height: 100vh;
  width: 100vw;
  flex-direction: column;
  gap: 32px;
  padding: 20px;
  left: 0;
  margin-top: 10px;
  background-color: #EBECF0;
  opacity: 0;
  transform: translateX(-100%);
  transition: opacity 0.6s ease, transform 0.6s ease;
  z-index: 2;
}

.open {
  opacity: 1;
  transform: translateX(0);
}

.fix {
  position: fixed;
  width: 100%
}

.header-choose {
  display: flex;
  background-color: #F5F6FA;
  border-radius: 6px;
  padding: 4px;
}

.choose-btn {
  position: relative;
  font-size: 14px;
  padding: 6px 16px 8px;
  width: 50%;
  border: none;
  border-radius: 6px;
  height: 34px;
  color: #206BCC;
  letter-spacing: 0.4px;
  background: transparent;
  transition: color 0.5s ease;
  overflow: hidden;
  z-index: 1;
}

.choose-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, rgba(32,99,205,1) 0%, rgba(29,226,193,1) 100%);
  border-radius: 6px;
  opacity: 0;
  transition: opacity 0.5s ease;
  z-index: -1;
}

.choose-btn.haeder-btn-active {
  color: #F5F6FA;
}

.choose-btn.haeder-btn-active::before {
  opacity: 1;
}


.header-menu-links {
  display: flex;
  flex-direction: column;
}

.link {
  padding: 17px 0;
  border-bottom: 1px solid #E2E3E7;
  text-decoration: none;
}

.link-top {
  border-top: 1px solid #E2E3E7;
}

.header-menu-time {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.header-number {
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1.2px;
}

.header-hours {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.4px;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 72px;
  overflow: hidden;
}

/*section 1*/
.cover {
  display: flex;
  flex-direction: column;
  gap: 42px;
  background: linear-gradient(180deg, rgba(245,249,217,0) 0%, rgba(245,246,250,1) 50%, rgba(245,246,250,0) 100%);
  background-image: url(../images/cover_image.png);
  margin: auto;
  padding: 32px 20px 24px;
  justify-content: space-between;
}

.cover-info {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.cover-company {
  padding: 11px 24px;
  background: linear-gradient(90deg, rgba(32,99,205,0.1) 0%, rgba(29,226,193,0.1) 100%);
  border-radius: 20px;
  outline: 1px solid rgba(29,226,193,0.5);
  width: 288px;
  height: 40px;
  color: #206BCC;
}

.cover-accent {
  display: block;
  position: relative;
  color: #fff;
  padding: 1px 0 6px 0;
  margin-bottom: 1px;
  z-index: 1;
  line-height: normal;
}

.cover-accent::before {
  content: '';
  position: absolute;
  top: 0;
  left: -7px;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, rgba(32,99,205,1) 0%, rgba(29,226,193,1) 100%);
  border-radius: 8px;
  z-index: -2;
}

.cover-title {
  font-size: clamp(1.375rem, 1.2430rem + 0.5634vw, 1.75rem);
  z-index: 0;
}

.cover-text {
  display: flex;
  flex-direction: column;
  gap: 26px;
}

.cover-description {
  line-height: 1.5;
  letter-spacing: 0.37px;
}

.cover-video {
  position: relative;
  background-color: #DADADA;
  background-color: transparent;
  border-radius: 25px;
}

.video {
  display: none;
  width: 100%;
  height: 100%;
  border-radius: 25px;
}

.video-atribute {
  left: 20px;
  bottom: 10px;
  display: flex;
  gap: 16px;
  align-items: center;
}

.video-play {
  width: 48px;
  height: 48px;
  background: linear-gradient(90deg, rgba(32,99,205,1) 0%, rgba(29,226,193,1) 100%);
  border-radius: 8px;
  border: none;
}

.video-content {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.video-length {
  color: rgba(61,63,89,0.5);
}

/*section 2*/

.product {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 0 20px;
}

.product-card-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card-product {
  position: relative;
  background-color: #F5F6FA;
  padding: 49px 23px 23px;
  display: flex;
  gap: 35px;
  border-radius: 15px;
}

.card-product-content {
  display: flex;
  flex-direction: column;
  gap: 26px;
  justify-content: space-between;
}

.card-product-textarea {
  display: flex;
  flex-direction: column;
  gap: 59px;
}

.product-card-title {
  text-align: end;
  padding-right: 62px;
}

.product-card-text {
  line-height: 1.45;
  font-size: 16px;
  letter-spacing: 0.4px;
}

.product-card-btn {
  display: flex;
  justify-content: center;
  padding: 18px 0;
  color: #206BCC;
}

.product-img {
  position: absolute;
  left: 20px;
  top: 18px;
  width: 96px;
}

.cifra {
  display: flex;
  flex-direction: column;
  gap: 27px;
  margin-top: 10px;
}

.cifra-title {
  padding-left: 10px;
  grid-area: title;
}

.cifra-accent {
  padding: 2px 0 0 0;
  width: 70%;
}

.card-cifra-box {
  display: flex;
  flex-direction: column;
  background-color: #F5F6FA;
  border-radius: 15px;
  padding: 16px;
  gap: 33px;
  justify-content: space-between;
  align-items: center;
}

.box-content {
  display: flex;
  padding-right: 10px;
}

.boxes-title {
  font-size: 20px;
  font-weight: 500;
}

.cifra-image {
  width: 120px;
}

.cifra-btn {
  background: linear-gradient(90deg, rgba(32, 99, 205, 1) 0%, rgba(29, 226, 193, 1) 100%);
  padding: 18px 18px;
  display: flex;
  justify-content: center;
  color: #F5F6FA;
  outline: none;
  width: 100%;
}

.cifra-card-list {
  display: grid;
  gap: 8px;
  grid-template-columns: repeat(3, 100%);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: 
  'contor accent tochno'
  'advo sredn client';
  transform: translateX(0);
}



.cifra-card {
  display: flex;
  flex-direction: column;
  background-color: #F5F6FA;
  border-radius: 25px;
  padding: 13px 10px 21px 16px;
  gap: 30px;
}

.cifra-card-text {
  font-size: 20px;
  color: #206BCC;
}

.cifra-number {
  font-size: 48px;
  font-weight: 300;
  color: #206BCC;
}

.cifra-card-subtext {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.4px;
  color: #3D3F59;
}

.swiper-container {
  width: 100%;
}

.swiper-slide {
  display: flex;
  justify-content: center;
}

.cifra-content-card {
  display: flex;
  gap: 15px;
  align-items: baseline;
}

.swiper-pagination {
  position: relative;
  margin-top: 9px;
}

/*section 3*/

.help {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 0 20px;
}

.help-title-content {
  display: grid;
  gap: 21px;
  align-items: end;
}

.help-title {
  padding: 2px 0 0 1px;
  font-size: 22px;
}

.help-subtitle {
 line-height: 1.4;
}

.swiper-help-menu {
  display: flex;
  flex-direction: column;
  gap: 27px;
}

.swiper-title {
  font-size: 20px;
}

.help-card {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: space-between;
  background-color: #F5F6FA;
  border-radius: 25px;
  width: 316px;
  min-height: 387px;
}

.img-card-help {
  border-radius: 25px;
  max-height: 176px;
}

.help-card-list {
  display: flex;
}

.help-card-content {
  padding: 0 24px;
  display: flex;
  flex-direction: column;
  gap: 42px;
}

.help-card-btn {
  padding: 12px 0;
  display: flex;
  justify-content: center;
  margin: 0 24px 24px;
}

.services {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-top: 10px;
}

.service-title {
  padding: 0 20px;
  font-size: 22px;
}

.list-services {
  display: flex;
  flex-direction: column;
  background-color: #F5F6FA;
  padding: 0 20px;
}

.list-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.services-btn-list {
  border: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: transparent;
  padding: 24px 3px 27px 0;
  font-size: 20px;
}

.services-btn-list img {
  transform: rotate(0);
  transition: transform 0.3s ease;
}

.services-btn-list:has(+ .services-card-list-active) img {
  transform: rotate(90deg);
}

.services-card-list {
  display: none;
}

.services-card-list-active {
  display: block;
}

.services-card {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #F5F6FA;
  border-radius: 15px;
  margin-bottom: 26px;
}

.services-card-img-content {
  background-position: center;
  position: relative;
  border-radius: 15px;
  height: 225px;
  overflow: hidden;
}

.serv-img {
  width: 100%;
}

.services-img-name {
  position: absolute;
  width: 80%;
  top: 15px;
  left: 16px;
}

.services-card-content {
  display: flex;
  align-items: start;
  gap: 8px;
  border-radius: 10px;
}

.services-content-much {
  font-size: 18px;
  color: #3D3F59;
}

.services-content-hour {
  font-weight: 600;
}

.services-content-text {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.services-content-icon {
  display: none;
}

.prosto {
  display: flex;
  flex-direction: column;
  gap: 48px;
  padding: 0 20px;
}

.prosto-title {
  padding-top: 7px;
}

.prosto-card-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.prosto-card {
  display: flex;
  flex-direction: column;
  gap: 24px;
  background-color: #F5F6FA;
  border-radius: 15px;
  padding: 16px 24px 24px 16px;
}

.prosto-number-content {
  padding: 19px;
  background-color: #fff;
  width: 56px;
  cursor: auto;
}

.prosto-card-content {
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.prosto-card-title {
  font-size: 20px;
}

.prosto-card-text {
  color: #3D3F59;
  line-height: 1.5;
}

.neprosto-card {
  background-color: transparent;
  outline: 1px solid #206BCC;
  justify-content: space-between;
}

.neprosto-card-content {
  display: flex;
  align-items: end;
  padding: 0 0 6px 9px;
}

.neprosto-btn {
  text-decoration: none;
  font-size: 20px;
  color: #206BCC;
}

.zapis {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #F5F6FA;
  border-radius: 15px;
  padding: 24px 15px;
  margin: 0 20px;
}

.zapis-text-content {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.zapis-text {
  color: #3D3F59;
  line-height: 1.5;
}

.zapis-img {
  max-width: 340px;
}

.zapis-btn {
  display: flex;
  justify-content: center;
  padding: 12px 0;
  background: linear-gradient(90deg, rgba(32,99,205,1) 0%, rgba(29,226,193,1) 100%);
  outline: none;
  color: #fff;
  max-width: 360px;
}

.zapis-text-btn {
  display: none;
}

.result {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 0 20px;
}

.result-main {
  position: relative;
  background-color: #161616;
  padding: 0 8px;
  max-width: 1312px;
  border-radius: 25px;
  overflow: hidden;
  padding-top: 132px;
  max-height: 556px;
}

.result-main-card-list {
  margin-top: 120px;
  display: flex;
  gap: 9px;
}

.result-main-line-2 {
  padding-top: 76px;
}

.main-line {
  display: flex;
  flex-direction: column;
  gap: 9px;
  max-width: 142px;
}

.result-main-card {
  border-radius: 15px;
  background-color: #206BCC;
  height: clamp(6.875rem, 2.1040rem + 20.3562vw, 11.875rem);
  width: clamp(5.125rem, 1.5468rem + 15.2672vw, 8.875rem);
}

.result-main-card-span {
  padding: 9px;
}

.result-main-card-text {
  font-size: 10.5px;
  color: #fff;
}

.result-main-card-img {
  border-radius: 15px;
  height: 100%;
  width: 100%;
}

.main-card-img {
  background-color: transparent;
}

.main-text-content {
  position: absolute;
  top: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding-right: 8px;
  color: #F5F6FA;
}

.result-main-title {
  font-size: 22px;
}

.result-main-text {
  font-size: 16px;
  text-align: center;
  line-height: 1.5;
}

.result-card-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.result-card {
  background-color: #F5F6FA;
  border-radius: 15px;
  display: flex;
  gap: 20px;
  align-items: center;
}

.result-icon {
  padding: 30px 0 30px 16px;
}

.rusult-card-text {
  font-size: 18px;
  font-weight: 500;
  padding-right: 10px;
}

.plus {
  display: flex;
  flex-direction: column;
  gap: 33px;
  padding: 0 20px;
}

.plus-title {
  font-size: 22px;
}

.plus-card-list {
  display: flex;
}

.plus-card {
  min-height: 284px;
}

.plus-top-line {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.plus-top-title {
  font-size: 20px;
  font-weight: 500;
}

.plus-content-title {
  color: #3D3F59;
}

.plus-content-info {
  font-size: 20px;
}

.plus-content-subinfo {
  color: #3D3F59;
  font-size: 14px;
}

.plus-top-content {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.plus-line  {
  background-color: #E2E3E7;
  height: 1px;
}

.plus-bottom-line {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-title {
  font-size: 16px;
  color: #3D3F59;
  font-weight: 400;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.input {
  background-color: #EBECF0;
  max-height: 56px;
  border: none;
  border-radius: 8px;
  outline: 1px solid #D7D8DC;
  padding: 16px;
}

.form-btn {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.submit-btn {
  display: flex;
  justify-content: center;
  padding: 18px 0;
  color: #206BCC;
  text-align: center;
}

.checkbox-content {
  display: flex;
  gap: 16px;
  align-items: start;
}

.custom-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.custom-checkbox+label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}
.custom-checkbox+label::before {
  content: '';
  display: inline-block;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #adb5bd;
  border-radius: 0.25em;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

.custom-checkbox:checked+label::before {
  border-color: #0b76ef;
  background-color: #0b76ef;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

.custom-checkbox:not(:disabled):not(:checked)+label:hover::before {
  border-color: #b3d7ff;
}


.custom-checkbox:focus+label::before {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.custom-checkbox:focus:not(:checked)+label::before {
  border-color: #80bdff;
}

.custom-checkbox:disabled+label::before {
  background-color: #e9ecef;
}

.checkbox-text {
  font-size: 14px;
  color: #3D3F59;
  padding-right: 5px;
}

.popup-form-message {
  display: none;
  flex-direction: column;
  gap: 15px;
  top: 25%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  background: #E2E3E7; 
  padding: 20px;  
  border-radius: 15px;
  width: 80%;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border: none;
}

.popup-form-message::backdrop {
  background: rgba(0, 0, 0, 0.4);
}

.popup-form-content {
  display: flex;
  gap: 20px;
}

.popup-form-button {
  display: flex;
  justify-content: center;
  padding: 10px 0;
  color: #206BCC;
}

.popupPro {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 3;
}

.popupProfile {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 30px 20px 20px;
  width: 80%;
  height: 55%;
  border-radius: 15px;
  background-color: #e9ecef;
}

.popupPro-close {
  border: none;
  background-color: transparent;
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 25px;
}

.popup-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.popup-profile-btn {
  display: flex;
  justify-content: center;
  color: #206BCC;
  padding: 15px 0;
  margin-top: 30px;
}